
/***** RESET *****/

*{
  box-sizing: border-box;
}
body{
 margin: 0;
 }


 h1,h2,h3,h4,p,ul{
  margin-top: 0;
  margin-bottom: 0;
 
}
ul{
  
  padding-left: 0;
  list-style: none;
  text-decoration: none;
}


input{
  border:1px solid rgb(78, 177, 60);
outline:3px;
font-family: inherit; /*ya que no hereda de forma predeterminada*/
background-color: rgb(220, 216, 211);
}

button{
border: none; /*saca el borde a los botones*/
font-family: inherit;
}
